#loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 20px 30px;
    background-color: #1a1a1a;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.loader-visible {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out;
}